<div class="fp-wrapper d-flex flex-column min-vh-100">
    <!-- Main -->
    <main class="flex-grow-1 d-flex align-items-center justify-content-center p-3">
        <div class="fp-card">
            <!-- Título -->
            <div class="mb-4 text-center">
                <h2 class="fw-bold">
                    Olvidé mi contraseña
                </h2>
                <p class="text-muted">
                    Ingresa tu correo para recibir un código y verifícalo a continuación.
                </p>
            </div>
            <form>
                <!-- Correo -->
                <div class="mb-4">
                    <label class="form-label fw-semibold">
                        Correo electrónico corporativo
                    </label>
                    <div class="input-group login-input-group">
                        <!-- Ícono -->
                        <span class="input-group-text">
                            <i class="bi bi-envelope"></i>
                        </span>
                        <!-- Input -->
                        <input type="email" class="form-control" placeholder="nombre@empresa.com" required>
                        <!-- Botón al lado derecho -->
                        <button type="button" class="btn btn-primary fw-semibold">
                            Enviar código
                        </button>
                    </div>
                </div>
            </form>
            <form>
                <!-- Código -->
                <div class="mb-4">
                    <label class="form-label fw-semibold">
                        Código de verificación
                    </label>
                    <div class="d-flex justify-content-between gap-2 fp-code-group">
                        <input type="text" maxlength="1" class="form-control text-center">
                        <input type="text" maxlength="1" class="form-control text-center">
                        <input type="text" maxlength="1" class="form-control text-center">
                        <input type="text" maxlength="1" class="form-control text-center">
                        <input type="text" maxlength="1" class="form-control text-center">
                        <input type="text" maxlength="1" class="form-control text-center">
                    </div>
                </div>
                <!-- Botón verificar -->
                <div class="d-grid mb-3">
                    <button class="btn btn-primary btn-lg fw-bold" routerLink="/reset-password">
                        Verificar
                    </button>
                </div>
                <div class="text-center">
                    <a routerLink="/login" class="fw-semibold text-primary">
                        Volver al inicio de sesión
                    </a>
                </div>
            </form>
        </div>
    </main>
</div>